body {
  background-image: url("./assets/pozadi.jpg");
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* NAVBAR */
.navbar {
  position: absolute;
  z-index: 2;
  right: 20px;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 20px;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 20px;
  margin: 5px;
}

.dropdown-button,
.dropdown-content {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar-links-container button:not(.dropdown-button) {
    display: none;
  }

  .navbar:hover .dropdown-content,
  .dropdown-button {
    display: block;
  }

  .dropdown-content {
    position: absolute;
    top: 60px;
    right: -40px;
    background-color: rgb(124, 114, 114);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content button {
    text-decoration: none;
    width: 100vw;
    border-bottom: 1px solid white;
  }

  .dropdown-button:hover,
  .dropdown-content button:hover {
    background-color: #e95656;
  }
}

/* HEADER */
.home-bannerImage-container {
  position: relative;
  color: white;
}

.home-bannerImage-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home-bannerImage-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 350px;
  background-color: #e95656;
  z-index: 1;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 70% 100%, 0% 100%);
}

.header-text {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-family: "Parisienne", cursive;
  z-index: 1;
}

.large-text {
  font-size: 70px;
  line-height: 0.8;
}

.small-text {
  font-size: 38px;
}

/* ABOUT */
.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.about-container h2 {
  position: absolute;
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-size: 30px;
}

.about-text {
  padding: 10%;
  text-align: justify;
}

.first-part,
.second-part {
  display: flex;
  align-items: center;
}

.first-part img,
.second-part img {
  max-height: 500px;
}

.background-rectangle {
  background-color: #e95656;
  height: 500px;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .first-part,
  .second-part {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .first-part img,
  .second-part img {
    width: 50%;
    height: auto;
    max-width: none;
    margin: 0;
  }

  .first-part {
    margin-bottom: 20px;
  }
}

/* HISTORY */
.history-container {
  max-width: 1200px;
  margin: 30px auto;
  color: white;
}

.history-content {
  --R: 200px; /* radius */
  --m: 15px; /* margin */
  --t: 100px; /* distance from top */
}

.history-content p {
  width: 50%;
  margin: 0;
  padding: 0 var(--m);
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  text-align: justify;
  font-size: 20px;
}

.history-content p:before {
  content: "";
  width: var(--R);
  height: calc(2 * var(--R));
  padding: var(--m) 0 var(--m) var(--m);
  margin-top: var(--t);
  background: var(--img) content-box;
  shape-outside: circle(
    var(--R) at var(--d, right) calc(-1 * var(--m)) top calc(50% + var(--t) / 2)
  );
  float: right;
  margin-right: calc(-1 * var(--m));
}

.history-content p:last-child:before {
  float: left;
  padding: var(--m) var(--m) var(--m) 0;
  --d: left;
  background-position: right;
  border-radius: 0 500px 500px 0;
  margin-left: calc(-1 * var(--m));
  margin-right: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HISTORIE 2 VERZE */
.history-container2 {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}

.history-content2 {
  display: flex;
  flex-direction: row;
}

.history-image2 img {
  width: 350px;
  float: right;
  margin: 20px 0 20px 20px;
}

.right-column {
  border-left: 1px solid white;
  width: calc(33.33% - 0.5px);
}

.left-column {
  width: calc(66.67% - 0.5px);
}

.left-column,
.right-column {
  padding: 0 15px;
}

/* PRODUCTS */
.products-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.products-container h2,
.job-offer-container h2 {
  font-family: "Akaya Kanadaka", system-ui;

  font-weight: 400;
  font-size: 30px;
}

/* Modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
  max-width: 70vw;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 375px;
  height: 200px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #e95656;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
}

/* JOB OFFER */
.job-offer-container {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.color-background {
  background-color: #e95656;
  padding: 20px;
}

.job-offer-text {
  text-align: center;
}

.job-offer-text p {
  padding: 0 10%;
}

.job-offer-text2 {
  padding: 0 10%;
}

.job-offer-part2 {
  display: flex;
}

.job-offer-text2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.job-offer-part2 img {
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .job-offer-part2 {
    flex-direction: column;
  }

  .job-offer-part2 img {
    margin-top: 20px;
    width: 100%;
    height: auto; 
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/* RETAILERS */
.retailers-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: white;
}

.retailers-container iframe {
  width: 100%;
}

/* CONTACT */
.contact-boxes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  color: white;
  flex-direction: row;
}

.history-container2 h2,
.retailers-container h2,
.history-container h2,
.contact-container h2 {
  display: flex;
  justify-content: center;
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-size: 30px;
}

.left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-box p,
.left-box h3 {
  padding: 0 10%;
  font-size: 20px;
}

.right-box {
  flex: 1;
  background-color: #e95656;
  padding: 20px;
}

.right-box form {
  display: flex;
  flex-direction: column;
}

.right-box form div {
  margin-bottom: 20px;
}

.right-box form input,
.right-box form textarea,
.right-box form button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.right-box form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.right-box form button:hover {
  transform: scale(1.02);
}

.right-box h2 {
  margin: 0;
  padding: 0;
}

.iframe-container {
  display: flex;
  justify-content: center;
}

.iframe-style {
  max-width: 1200px;
  width: 100%;
  height: 400px;
  border: 0;
}

@media only screen and (max-width: 800px) {
  .contact-boxes {
    flex-direction: column;
  }

  .left-box {
    margin: 20px;
  }
}

/* FOOTER */
.footer-container {
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.footer-container p,
.footer-container button {
  font-size: 18px;
}

.footer-container button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.footer-container button:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 1180px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
