/*   
font-family: "Parisienne", cursive; Font pro jméno pekárny
font-family: "Josefin Sans", sans-serif; Font pro nadpisy
font-family: "Crimson Text", serif;
font-family: "Aladin", system-ui; Font pro všechen text 
*/
body {
  background-image: url("./assets/pozadi.jpg");
  background-size: contain;
  background-position: center;
  font-family: "Crimson Text", serif;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  position: absolute;
  z-index: 2;
  right: 0;
}

.navbar button {
  position: relative;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 20px;
}

.navbar button:hover,
.box:hover {
  transform: scale(1.05);
}

.navbar-links-container button:not(.dropdown-button)::after {
  position: absolute;
  background-color: #ffffff;
  content: "";
  left: 0;
  bottom: 10px;
  width: 0;
  height: 2px;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-links-container button:hover:not(.dropdown-button)::after {
  width: calc(100% - 40px);
  left: 20px;
}

.dropdown-button,
.dropdown-content {
  display: none;
}

@media (max-width: 900px) {
  .navbar-links-container button:not(.dropdown-button) {
    display: none;
  }

  .navbar:hover .dropdown-content,
  .dropdown-button {
    display: block;
  }

  .dropdown-button:hover + .dropdown-content,
  .dropdown-content:hover {
    display: block;
  }

  .dropdown-button:hover {
    background-color: #f09595;
  }

  .dropdown-content {
    position: absolute;
    background-color: #767272;
    width: 100vw;
    z-index: 1;
    right: 0;
    top: 100%;
  }

  .dropdown-content button {
    text-decoration: none;
    width: 100vw;
    margin-top: 5px;
    border-bottom: 1px solid #ffffff;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .dropdown-content button:hover {
    background-color: #e95656;
  }
}

/* SCROLL TO THE TOP BUTTON */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-to-top-button:hover {
  background-color: #f09595;
}

/* HEADER */
.home-banner-container {
  position: relative;
}

.home-banner-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home-banner-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 350px;
  background-color: #e95656;
  z-index: 1;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 70% 100%, 0% 100%);
}

.header-text {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-family: "Parisienne", cursive;
  z-index: 1;
  line-height: 1;
  font-size: 38px;
}

.large-text {
  font-size: 70px;
}

@media (max-width: 800px) {
  .home-banner-container img {
    height: 140px;
  }

  .home-banner-container::before {
    height: 170px;
  }

  .header-text {
    top: 55%;
    left: 22%;
    font-size: 24px;
  }

  .large-text {
    font-size: 45px;
  }
}

/* ABOUT */
.about-container,
.products-container {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about-container h2 {
  position: absolute;
}

.about-text {
  padding: 3% 10%;
  text-align: justify;
}

.first-part,
.second-part {
  display: flex;
  align-items: center;
}

.background-rectangle {
  background-color: #e95656;
  height: 500px;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .about-container {
    margin-top: 30px;
  }

  .about-container h2 {
    position: relative;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .first-part,
  .second-part {
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-container img {
    width: 50%;
    height: auto;
  }
}

.fade-left {
  animation: fadeLeft 1s ease-in;
}

.fade-right {
  animation: fadeRight 1s ease-in;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* HISTORY */
.history-container {
  max-width: 1200px;
  margin: 0 auto;
}

.history-content {
  display: flex;
  text-align: justify;
}

.history-image img {
  float: left;
  margin: 25px 15px 0 0;
}

.left-column {
  border-right: 1px solid #ffffff;
  width: calc(33.33% - 0.5px);
  padding-right: 15px;
}

.right-column {
  width: calc(66.67% - 0.5px);
  padding-left: 15px;
}

@media screen and (max-width: 1200px) {
  .history-content {
    margin: 0 5%;
  }
}

@media screen and (max-width: 800px) {
  .history-content {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .left-column {
    width: 80%;
    border: none;
    padding: 0;
  }

  .right-column {
    width: 80%;
    padding: 0;
  }

  .history-image img {
    float: none;
    width: 100%;
    height: auto;
    margin: 0;
  }
}

/* PRODUCTS */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 22px;
}

.box {
  width: 375px;
  height: 200px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #e95656;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
  max-width: 70vw;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .box {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .box {
    display: flex;
    flex-wrap: wrap;
  }
}

/* JOB OFFER */
.job-offer-container,
.retailers-container {
  max-width: 1200px;
  margin: 0 auto;
}

.color-background {
  background-color: #e95656;
  padding: 20px;
  text-align: center;
}

.job-offer-text p,
.job-offer-text2 {
  padding: 0 5%;
}

.job-offer-part2 {
  display: flex;
}

.job-offer-text2 a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.job-offer-part2 img {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .job-offer-part2 {
    flex-direction: column;
  }

  .job-offer-part2 img {
    width: 100%;
  }
}

/* RETAILERS */
.retailers-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.retailers-container img {
  width: 100%;
}

/* CONTACT */
.contact-boxes {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

h2,
.contact-container h3 {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-box p {
  padding: 0 20%;
}

.right-box {
  flex: 1;
  background-color: #e95656;
}

.right-box form {
  padding: 20px;
}

.right-box form div {
  margin-bottom: 20px;
}

.right-box form input,
.right-box form textarea,
.right-box form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.fixed-textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
}

.right-box form button {
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.right-box form button:hover {
  transform: scale(1.03);
  background-color: #70bd72;
}

.right-box h2 {
  margin: 0;
  padding-top: 20px;
}

.iframe-container {
  display: flex;
  justify-content: center;
}

.iframe-style {
  max-width: 1200px;
  width: 100%;
  height: 400px;
  border: 0;
}

@media only screen and (max-width: 800px) {
  .contact-boxes {
    flex-direction: column;
  }

  .left-box {
    margin: 40px 10px;
  }
}

/* FOOTER */
.footer-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer-container button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

.footer-container button:hover {
  transform: scale(1.02);
}

/* .footer-container p {
  border-right: 1px white solid;
  padding: 0 10px;
} */

/* .link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
} */

@media only screen and (max-width: 1180px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-container button {
    margin-left: 0;
  }
}

/* PAGES */
.pages {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  line-height: 1.8;
  font-size: 22px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-weight: 400;
}